footer {
    /*position: absolute;
    bottom: 0%;*/
    background-color: map-get($colors, backgroundFooter);
    display: flex;
    justify-content:space-between;
    align-items: center;
        
    ul {
        display: flex;
        padding: map-get($spacing , spacing-xsmall);
        list-style-type: none;
        li{
            color: map-get($colors, nav-links);
            
        }

    }

     
}

.footerContact
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon{
    font-size: map-get($textSize, text-medium);
}
