.formulario {
    p {
        font-size: map-get($textSize , text-small);
        color: map-get($colors, Title-color);
    }
}

.card-header{
 @extend %subtituloDefault;

 
}

.boton{
@include boton(map-get($colors, backgroundFooter)) /*llamo al mixin y le paso color de fondo*/
        
}

.card-text{
    text-align:justify;
}





