

body {
    font-family: "Jost", sans-serif;
  }


$colors:(
  backgoundHeader:#2757ad,
  Title-color:rgb(0, 0, 0),
  Subtitle-color:rgb(175, 165, 171),
  buttonColor: rgb(45, 53, 99),
  backgroundFooter:rgb(7, 3, 3),
  text-color: #050505,
  nav-links:rgb(252, 252, 252),
  
);

$textSize: (
  text-large: 5.2em,
  text-medium: 2.2em,
  text-base: 1.6em,
  text-small: 1.4em,
);

$spacing:(
  spacing-large: 6rem,
  spacing-medium: 4rem,
  spacing-small: 2rem,
  spacing-xsmall: 1rem,
  
);



