@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap'); /*iMPORTO GOOGLE FONT*/


/*DECLARO VARIABLES*/
:root{

    /*font family*/
    --font-principal: 'Jost', sans-serif;
    --text-color: #050505;


    /*font size*/
    --text-large: 5.2em;
    --text-medium: 2.2em;
    --text-base: 1.6em;
    --text-small: 1.4em;

    /*spacing*/
    --spacing-large: 6rem;
    --spacing-medium: 4rem;
    --spacing-small: 2rem;
    --spacing-xsmall: 1rem;



    /*colors*/
    --primary:#030303;
    --secondary:#2757ad;
    --alternative: grey;

}


/*---------------ESTILOS GLOBALES-----------*/



body{
    font-family: var(--font-principal);
   
}


ul{
    list-style-type: none;
}

/*--------------------------------------------*/



.nav-link:hover{
    color: white;
}

.menu{
background-color: #2757ad;

}



.card{
    border: none;
}




.icon{
    font-size: 2rem;
}

.listaFooter{
    background-color: #000000;
    padding: 1rem;

   
}

.contactFooter{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    color: aliceblue;
    
}

.msg-contacto{
    font-size: var(--text-small);
}
